<p style="color: green"><%= notice %></p>

<p>
  <b>Category name: </b>
  <%= @subcategory.category.name %>
</p>

<p>
  <b>Subcategory name: </b>
  <%= @subcategory.name %>
</p>

<% @subcategory.brands.each do |brand| %>
  <%= brand.name %>
<% end %>
