<% if @subcategoryegories.present?%>
  <%= turbo_stream.replace "category_subcategories_list" do %>
    <div class="auto-update" id="category_subcategories_list">
      <li>
        <label class="auto-update mb-2 mt-3">Subcategories:<br></label>
        <%= select_tag(:subcategory , options_from_collection_for_select( @subcategoryegories.all , :id , :name) , { prompt: "Select Subcategory" , class: "auto-update"} ) %>
      </li>
    </div>
  <% end %>
<% end %>