<div class="category-group">
  <% if @brands.present? %>
    <%= turbo_stream.replace "subcategory_brands_list" do %>
      <div class="auto-update index" id="subcategory_brands_list">
        <label class="auto-update mb-2 mt-3">Brands<br></label>
        <%= select_tag(:brand , options_from_collection_for_select( @brands.all , :id , :name) , { prompt: "Select Brand" , class: "auto-update index"} ) %>
      </div>
    <% end %>
  <% end %>
</div>