<p style="color: green"><%= notice %></p>
<ul>
<% @categories.each do |category|%>
  <li><%= category.name %></li>
  <ul>
    <% category.subcategories.each do |subcategory| %>
      <li><%= subcategory.name %></li>
      <ul>
        <% subcategory.brands.each do |brand| %>
          <li><%= link_to brand.name, brand %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
<% end %>
</ul>