<div class="center"><br>
  <%= notice %>
  <h1 class="text-center">Brands</h1> <br><br>

  <div id="subcategories" style="padding: 20px">
    <table>
      <thead>
        <tr>
          <% @subcategories.each do |subcategory| %>
            <th><%= subcategory.name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <tr><% @subcategories.each do |subcategory| %>
        <td scope="row"><% subcategory.brands.each do |brand| %>
          <%= link_to brand.name, brand %><br><br>
        <% end %></td>
      <% end %></tr>
      </tbody>
    </table>
  </div>
</div>
