<div class="center"><br>
  <%= notice %>
  <h1 class="text-center">Categories</h1> <br><br>

  <div id="categories">
    <table class="card">
      <tbody>
        <% @categories.each do |category| %>
        <tr>
          <td scope="row"><%= link_to category.name, category %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
